@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		@apply h-full w-full;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

	h1 {
		@apply text-2xl;
	}

	* {
		--rmsc-main: oklch(var(--p));
		--rmsc-hover: oklch(var(--b3));
		--rmsc-selected: oklch(var(--p) / 0.5);
		--rmsc-border: oklch(var(--bc) / 0.2);
		--rmsc-gray: oklch(var(--bc / 0.6));
		--rmsc-bg: oklch(var(--b1));
		--rmsc-radius: 0;
		--rmsc-h: 2.85rem;
	}
}

@layer components {
	.h-full-nav {
		height: calc(100vh - 70px);
	}

	input::-webkit-calendar-picker-indicator {
		filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
	}

	.required-input:after {
		content: ' *';
		color: red;
	}
}
